@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: url('./images/bg-mobile.svg') no-repeat left top;
    background-size: contain;
    background-color: hsl(257, 40%, 49%);
}

main {
    padding: 16px;  
}

header {
    padding: 16px;
}

.logo {
    width: 175px;
    padding: 16px;
}

.bg-illustration {
    display: block;
    width: 100%;
    margin: 16px auto;
}

h1, p {
    color: #FFF;
    text-align: center;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 16px;
}

p {
    margin-bottom: 16px;
    line-height: 1.5rem;
}

p, button {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.05rem;
}

button {
    display: block;
    width: 225px;
    margin-left: auto;
    margin-right: auto;
    background: #FFF;
    color: hsl(257, 40%, 49%);
    border: none;
    padding: 16px 48px;
    border-radius: 32px;
    box-shadow: 3px 5px 5px hsl(257, 40%, 35%);
    transition: 
        background-color 150ms ease-in-out,
        color 150ms ease-in-out,
        box-shadow 150ms ease-in-out;
}

button:hover, button:focus {
    background: hsl(300, 69%, 71%);
    color: #FFF;
    box-shadow: none;
}

.social-icons {
    display: flex;
    justify-content: center;
    margin: 16px 0;
}

.icon {
    color: #FFF;
    text-align: center;
    font-size: 1.75rem;
    border: 2px solid #FFF;
    border-radius: 50%;
    margin: 0 8px;
    padding: 5px;
    width: 50px;
    height: 100%;
}

.icon:hover, .icon:focus {
    color: hsl(300, 69%, 71%);
    border: 2px solid hsl(300, 69%, 71%);
}

/* @media only screen and (min-width: 1440px) {
    body {
        background-position: center top;
        background-size: cover;
    }

    header, main {
        display: inline-block;
        width: 45%;
    }

    header {
        height: 100%;
    }

    h1, p {
        text-align: left;
    }

    button {
        margin-left: 16px;
    }

    .bg-illustration {
        width: 75%;
    }

    .social-icons {
        justify-content: flex-end;
    }
} */